<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>311948113344-b0s8mr2iibf20vng7b5oqj93lhfe73f0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.311948113344-b0s8mr2iibf20vng7b5oqj93lhfe73f0</string>
	<key>API_KEY</key>
	<string>AIzaSyCkj67VPL2e5WDsZhdoGlUu4-yoloM1Qgo</string>
	<key>GCM_SENDER_ID</key>
	<string>311948113344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Jack.VocabApp</string>
	<key>PROJECT_ID</key>
	<string>vocabapp-c9d88</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabapp-c9d88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:311948113344:ios:4a2d8b686e93793d</string>
	<key>DATABASE_URL</key>
	<string>https://vocabapp-c9d88.firebaseio.com</string>
</dict>
</plist>